body {
  background-color: #FAFAFA;
}

#container {
  background-color: white;
  width: 900px;
  padding: 25px 30px 30px 25px;
  margin: 0 auto 20px auto;
  border: solid 1px #CCC;
}

.viz_area path {
  fill: #3182bd;
  stroke: #08519c;
  stroke-width: 1;
}

.viz_area circle {
  fill: #08519c;
}

.viz_area .x.axis .tick line {
  stroke: #111;
  opacity: 0.2;
}

.left, .right {
  height: 800;
  overflow: scroll;
}

.area {
  stroke-width: 0px;
  opacity: 0.8;
}

.bar {
  stroke-width: 0;
  opacity: 0.8;
}

.selected:hover {
  opacity: 0.2;
}

.highlighted {
  opacity: 1.0;
}

.unselected {
  fill: #111;
  opacity: 0.5;
}

.axis {
  font-size: 8pt;
  font-family: sans-serif;
}

.axis path {
  fill: none;
  stroke: #111;
}

.y.axis .tick line {
  stroke: #111;
  opacity: 0.2;
}

.top .x.axis .tick line {
  stroke: #111;
  opacity: 0.2;
}

.hotspot {
  opacity: 0.0;
}

.hotspot:hover {
  opacity: 0.2;
}

.marker {
  stroke: #111;
  opacity: 1.0;
}
